#tabsnail {
  /* Some CSS properties are set by the content script dynamically. */
  --padding: 12px;
  --btn-close-size: 20px;
  --outline-width: 1px;
  --outline-color: #555;

  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));
  gap: var(--outline-width);

  &,
  > *,
  > * > * {
    box-sizing: border-box;
  }

  /* Tab containers */
  > * {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--padding) / 2);
    background-color: #eee; /* FIXME: use vars */
    color: #111;
    box-shadow: 0 0 0 var(--outline-width) var(--outline-color);

    &:hover {
      background-color: lch(from #eee calc(l + 6) c h);
    }

    &.tabsnail-active {
      font-style: italic;
    }

    &:nth-of-type(odd) {
      color: var(--dark-color);
      background-color: var(--dark-bg);

      &:hover {
        background-color: lch(from var(--dark-bg) calc(l + 6) c h);
      }

      .tabsnail-btn-close {
        color: var(--dark-color);
      }
    }
  }

  .tabsnail-top,
  .tabsnail-bottom {
    padding: 0 var(--padding) 0 0;

    .tabsnail-btn-activate {
      padding: 0 0 0 var(--padding);
    }
  }

  .tabsnail-left,
  .tabsnail-right {
    padding: 0 0 var(--padding) 0;

    .tabsnail-btn-activate {
      padding: var(--padding) 0 0 0;
    }
  }

  .tabsnail-left {
    writing-mode: sideways-lr;
  }

  .tabsnail-right {
    writing-mode: sideways-rl;
  }

  button {
    all: unset;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* Important for text overflow with ellipsis. */
    min-width: 0;
    min-height: 0;

    &,
    span {
      font-family: 'Victor Mono', monospace;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: normal; /* Some websites set this 🌝 */
    }

    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }

    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tabsnail-btn-activate {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  .tabsnail-btn-close {
    flex: 0 0 var(--btn-close-size);
    width: 100%;
    height: var(--btn-close-size);
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    text-align: center;
    color: #000;
    opacity: 0.6;
    transition: opacity 150ms ease;

    &:hover {
      opacity: 1;
    }
  }
}
