/* Striped theme */
#tabsnail {
  --color-shift-active: 0.05;
  --color-shift-hover: 0.04;
  --color-text: hsl(0, 0%, 5%);
  --color-bg: hsl(0, 0%, 95%);
  --color-bg-active: oklab(from var(--color-bg) calc(l + var(--color-shift-active)) a b);
  --color-bg-hover: oklab(from var(--color-bg) calc(l - var(--color-shift-hover)) a b);
  --color-outline: hsl(0, 0%, 33%);
  --btn-close-bg-hover: oklab(
    from var(--color-bg-hover) calc(l - calc(var(--color-shift-hover) * 1.5)) a b
  );
  --outline-width: 1px;

  gap: var(--outline-width);

  > :nth-of-type(odd) {
    --color-bg: var(--color);
    --color-bg-active: oklab(from var(--color-bg) calc(l + var(--color-shift-active)) a b);
    --color-bg-hover: oklab(from var(--color-bg) calc(l - var(--color-shift-hover)) a b);
    --btn-close-bg-hover: oklab(
      from var(--color-bg-hover) calc(l - calc(var(--color-shift-hover) * 1.5)) a b
    );
  }

  &.tabsnail-dark > :nth-of-type(odd) {
    --color-text: white;
    --color-bg-active: oklab(
      from var(--color-bg) calc(l - calc(var(--color-shift-active) * 2)) a b
    );
    --color-bg-hover: oklab(from var(--color-bg) calc(l + calc(var(--color-shift-hover) * 2)) a b);
    --btn-close-bg-hover: oklab(
      from var(--color-bg-hover) calc(l + calc(var(--color-shift-hover) * 1.5)) a b
    );
  }

  > * {
    color: var(--color-text);
    background-color: var(--color-bg);
    box-shadow: 0 0 0 var(--outline-width) var(--color-outline);

    &:hover {
      background-color: var(--color-bg-hover);
    }

    &.tabsnail-active {
      background-color: var(--color-bg-active);
    }
  }

  > *:hover,
  .tabsnail-btn-close:hover {
    transition: background-color 200ms ease-in-out;
  }

  .tabsnail-btn-activate {
    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }
  }

  .tabsnail-btn-close {
    border-radius: 50%;
    background-color: transparent;
    transition-duration: 150ms;

    &:hover {
      background-color: var(--btn-close-bg-hover);
    }
  }
}
