/* Striped theme */
#tabsnail {
  --color-shift-active: 0.08;
  --color-shift-hover: 0.04;
  --color-text: hsl(0, 0%, 5%);
  --color-bg: hsl(0, 0%, 93%);
  --color-bg-active: hsl(0, 0%, 100%);
  --color-bg-active-hover: oklch(
    from var(--color-bg-active) calc(l - var(--color-shift-hover)) c h
  );
  --color-bg-hover: oklch(from var(--color-bg) calc(l - var(--color-shift-hover)) c h);
  --color-outline: oklch(from var(--color) 0.84 c h);
  --btn-close-bg-hover: oklch(
    from var(--color-bg-hover) calc(l - calc(var(--color-shift-hover) * 1.5)) c h
  );
  --outline-width: 1px;

  gap: var(--outline-width);

  /* Colored segments */
  > :nth-of-type(odd) {
    --color-bg: var(--color);
    --color-bg-active: oklch(from var(--color-bg) calc(l + var(--color-shift-active)) c h);
    --color-bg-active-hover: oklch(
      from var(--color-bg-active) calc(l + var(--color-shift-hover)) c h
    );
    --color-bg-hover: oklch(from var(--color-bg) calc(l - var(--color-shift-hover)) c h);
    --btn-close-bg-hover: oklch(
      from var(--color-bg-hover) calc(l - calc(var(--color-shift-hover) * 1.5)) c h
    );
  }

  /* Colored segments (dark) */
  &.tabsnail-dark > :nth-of-type(odd) {
    --color-text: white;
    --color-bg-active: oklch(
      from var(--color-bg) calc(l - calc(var(--color-shift-active) * 2)) c h
    );
    --color-bg-active-hover: oklch(
      from var(--color-bg-active) calc(l + calc(var(--color-shift-hover) * 2)) c h
    );
    --color-bg-hover: oklch(from var(--color-bg) calc(l + calc(var(--color-shift-hover) * 2)) c h);
    --btn-close-bg-hover: oklch(
      from var(--color-bg-hover) calc(l + calc(var(--color-shift-hover) * 1.5)) c h
    );
  }

  > * {
    color: var(--color-text);
    background-color: var(--color-bg);
    box-shadow: 0 0 0 var(--outline-width) var(--color-outline);

    &:hover {
      background-color: var(--color-bg-hover);
    }

    &.tabsnail-active {
      background-color: var(--color-bg-active);

      &:hover {
        background-color: var(--color-bg-active-hover);
      }
    }
  }

  > *:hover,
  .tabsnail-btn-close:hover {
    transition: background-color 200ms ease-in-out;
  }

  .tabsnail-btn-close {
    border-radius: 50%;
    background-color: transparent;
    transition-duration: 150ms;

    &:hover {
      background-color: var(--btn-close-bg-hover);
    }
  }
}
