/* Windows 95 theme - Credits to https://github.com/YoshiMannaert/95CSS */
@font-face {
  /* noinspection CssUnknownTarget*/
  src: url('/themes/fonts/win95.woff2');
  font-family: 'Win95';
  font-display: swap;
  font-style: normal;
}

#tabsnail {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #dedede;
  --color-gray-200: #c3c3c3;
  --color-gray-300: #808080;

  --shadow-default-button-default:
    inset -2px -2px 0 var(--color-black), inset 2px 2px 0 var(--color-white),
    inset -4px -4px 0 var(--color-gray-300), inset 4px 4px 0 var(--color-gray-100);
  --shadow-default-button-highlighted:
    inset 2px 2px 0 var(--color-black), inset -4px -4px 0 var(--color-black),
    inset 4px 4px 0 var(--color-white), inset -6px -6px 0 var(--color-gray-300),
    inset 6px 6px 0 var(--color-gray-100);
  --shadow-default-button-active:
    inset -2px -2px 0 var(--color-white), inset 2px 2px 0 var(--color-black),
    inset -4px -4px 0 var(--color-gray-100), inset 4px 4px 0 var(--color-gray-300);

  > * {
    color: var(--color-black);
    text-decoration: none;
    background-color: var(--color-gray-200);
    box-shadow: var(--shadow-default-button-default);
    padding: 12px 14px;

    &:active {
      box-shadow: var(--shadow-default-button-active);
    }
  }

  > .tabsnail-active {
    box-shadow: var(--shadow-default-button-highlighted);
  }

  button {
    font-family: 'Win95', system-ui, sans-serif;
    font-size: 14px;
  }
}
