*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/**
 * Common Tabsnail styles.
 *
 * --grid-columns and --grid-rows are set by the content script.
 */
#tabsnail {
  --padding: 8px;

  pointer-events: none; /* allow clicking through the Tabsnail (except the buttons, see below) */
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));
  font-family: system-ui, sans-serif;
  font-size: 12px;

  > * {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: white;
  }

  .tabsnail-btn-activate {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  .tabsnail-top,
  .tabsnail-bottom {
    padding: 0 calc(var(--padding) / 2) 0 0;

    .tabsnail-btn-activate {
      padding: 0 0 0 var(--padding);
      mask-image: linear-gradient(to right, currentcolor 94%, transparent 100%);
    }
  }

  .tabsnail-left {
    writing-mode: sideways-lr;
    padding: calc(var(--padding) / 2) 0 0;

    .tabsnail-btn-activate {
      padding: 0 0 var(--padding) 0;
      mask-image: linear-gradient(to top, currentcolor 94%, transparent 100%);
    }
  }

  .tabsnail-right {
    writing-mode: sideways-rl;
    padding: 0 0 calc(var(--padding) / 2);

    .tabsnail-btn-activate {
      padding: var(--padding) 0 0 0;
      mask-image: linear-gradient(to bottom, currentcolor 94%, transparent 100%);
    }
  }

  button {
    all: unset;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
  }

  .tabsnail-btn-close {
    display: flex;
    flex: 0 0 18px;
    place-content: center center;
    border-radius: 50%;
    background-color: transparent;
  }
}
